.form {
  width: 300px;
  padding: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.form select {
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-weight: bold;
}
.form input {
  margin-bottom: 15px;
  height: 30px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 0 5px;
  text-align: center;
}
.form button {
  padding: 10px 12px;
  cursor: pointer;
  border-radius: 3px;
  background: lightblue;
  font-weight: bold;
  transition: 0.3s ease;
  color: rgb(100, 100, 100);
}
.form button:hover {
  background: rgb(177, 175, 175);
  color: #fff;
}
